{% extends "base.html" %}

{% load static %}

{% block title %}Password Successfully Changed | Hop & Barley{% endblock title %}
{% block content %}
    <main class="auth-page-wrapper">
        <div class="auth-background">
            <img src="{% static 'img/background/pattern.jpg' %}"
                 alt="Background pattern">
        </div>
        <div class="auth-form-container">
            <div class="auth-container auth-container--forgot-password">
                <h2>Password Successfully Changed!</h2>
                <p>You can now log in to the system using your new password.</p>
                <a href="{% url 'accounts:login' %}">Go to Login</a>
            </div>
        </div>
    </main>
{% endblock content %}
