{% extends "base.html" %}

{% load static %}

{% block title %}Enter New Password | Hop & Barley{% endblock title %}
{% block content %}
    <main class="auth-page-wrapper">
        <div class="auth-background">
            <img src="{% static 'img/background/pattern.jpg' %}"
                 alt="Background pattern">
        </div>
        <div class="auth-form-container">
            <div class="auth-container auth-container--forgot-password">
                <div class="Legend">
                    <h1 class="auth-title">Enter New Password</h1>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="InputField">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="button button--primary">Update Password</button>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}
