{% extends "accounts/profile_base.html" %}

{% block account_title %}Account Information{% endblock account_title %}

{% block tab_content %}
  <div class="account-form-container">
    <h2 class="account-form-title">Personal Info</h2>
    <form id="account-info-form" method="post" action="{% url 'accounts:profile' %}">
      {% csrf_token %}
      {% for field in form %}
        <div class="InputField">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <span class="field-error">{{ field.errors.0 }}</span>
          {% endif %}
        </div>
      {% endfor %}
      {% if form.non_field_errors %}
        <div class="form-errors">{{ form.non_field_errors.0 }}</div>
      {% endif %}
      <div class="account-form-actions">
      <button type="submit" class="button button--primary button--full-width">Save</button>
      </div>
    </form>
    <form method="post" action="{% url 'accounts:logout' %}">
      {% csrf_token %}
      <button type="submit" class="button button--secondary button--full-width">Logout</button>
    </form>
  </div>
{% endblock tab_content %}
