{% extends "base.html" %}

{% load static %}
{% load navigation_tags %}

{% block title %}
  Products catalog | Hop & Barley
{% endblock title %}
{% block content %}
  <main class="js-main-content">
    <form method="get"
          id="js-filter-form"
          hx-get="{% url 'products:list' %}"
          hx-target=".js-product-grid-wrapper"
          hx-select=".js-product-grid-wrapper"
          hx-push-url="true">
      <input type="hidden"
             name="sort"
             id="js-sort-input"
             value="{{ sort_by|default:'new' }}">
    </form>
    <section class="hero-banner
                    {% if request.path == '/' %}
                      hero-banner--home
                    {% else %}
                      hero-banner--products
                    {% endif %}">
      <img src="{% static 'img/background/hopfen-fields.jpg' %}"
           alt="Beautiful hops on a dark background"
           class="hero-banner__image"
           width="1312"
           height="400">
      <div class="hero-banner__overlay"></div>
    </section>
    <div class="container main-content-grid">
      <aside class="sidebar filter-menu">
        <div class="sidebar__section">
          <h3 class="section-title">Keywords</h3>
          <div class="keywords-list js-keywords-list">
            {% for cat in categories %}
              {% if cat.slug in selected_categories %}
                <span class="keyword-tag js-keyword-tag" data-keyword="{{ cat.slug }}">
                  {{ cat.name }}
                  <i class="fa-solid fa-xmark remove-keyword-icon js-remove-keyword"></i>
                </span>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="sidebar__section">
          <h3 class="section-title">Product Type</h3>
          <div class="checkbox-group js-keywords-group">
            {% for cat in categories %}
              <label class="checkbox-container">
                {{ cat.name }}
                <input type="checkbox"
                       form="js-filter-form"
                       name="category"
                       value="{{ cat.slug }}"
                       data-keyword="{{ cat.name }}"
                       class="js-auto-submit"
                       {% if cat.slug in selected_categories %}
                         checked
                       {% endif %} />
                <span class="checkmark"></span>
              </label>
            {% empty %}
              <p>No categories available.</p>
            {% endfor %}
          </div>
        </div>
      </aside>
      <section class="products-area product-grid-section">
        <div class="search-sort-bar">
          {% comment %} Search and Sort Options {% endcomment %}
          <div class="search-input-wrapper">
            <input type="text"
                   form="js-filter-form"
                   name="search"
                   placeholder="Search"
                   class="search-input"
                   value="{{ search_query|default:'' }}">
            <button type="submit"
                    form="js-filter-form"
                    class="search-button"
                    aria-label="Search">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
          <div class="sort-options js-sort-buttons">
            {% comment %} Sort Options {% endcomment %}
            <button type="button"
                    form="js-filter-form"
                    data-sort-value="new"
                    class="sort-button js-sort-button
                           {% if sort_by == 'new' or not sort_by %}
                             active-sort
                           {% endif %}">New</button>
            <button type="button"
                    form="js-filter-form"
                    data-sort-value="price_asc"
                    class="sort-button js-sort-button
                           {% if sort_by == 'price_asc' %}
                             active-sort
                           {% endif %}">Price ascending</button>
            <button type="button"
                    form="js-filter-form"
                    data-sort-value="price_desc"
                    class="sort-button js-sort-button
                           {% if sort_by == 'price_desc' %}
                             active-sort
                           {% endif %}">Price descending</button>
            <button type="button"
                    form="js-filter-form"
                    data-sort-value="rating"
                    class="sort-button js-sort-button
                           {% if sort_by == 'rating' %}
                             active-sort
                           {% endif %}">Rating</button>
          </div>
        </div>
        {% comment %} Product grid {% endcomment %}
        <div class="js-product-grid-wrapper">
          <div class="product-grid">
            {% for product in products %}
              <a href="{% url 'products:detail' product.slug %}"
                 class="product-card-link">
                <div class="product-card">
                  {% if product.image %}
                    <img src="{{ product.image.url }}"
                         alt="{{ product.name }}"
                         class="product-card__image"
                         width="270"
                         height="247" />
                  {% else %}
                    <img src="{% static 'img/products/citra_hops.jpg' %}"
                         alt="{{ product.name }}"
                         class="product-card__image"
                         width="270"
                         height="247" />
                  {% endif %}
                  <div class="product-card__info">
                    <h4 class="product-card__name">{{ product.name }}</h4>
                    <div class="product-card__price_wrapper">
                      <p class="product-card__price">${{ product.price }}</p>
                      <div class="product-card__rating">
                        {% for i in "12345"|make_list %}
                          {% if forloop.counter <= product.average_rating %}
                            <i class="fa-solid fa-star"></i>
                          {% else %}
                            <i class="fa-regular fa-star"></i>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                    <p class="product-card__description">{{ product.description|truncatewords:10 }}</p>
                  </div>
                </div>
              </a>
            {% empty %}
              <div class="no-products">
                <p>No products found matching your criteria.</p>
              </div>
            {% endfor %}
          </div>
          {% include "snippets/pagination.html" %}
        </div>
      </section>
    </div>
  </main>
{% endblock content %}
